<div bgcolor="#f5f5f5" lang="es_419" dir="ltr" style="
    margin: 0;
    padding: 0;
    min-width: 100%;
">
    <!-- CONTENT -->
    <table class="content" role="presentation" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#f5f5f5" width="100%" style="
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 1em;
        line-height: 1.5;
        max-width: 600px;
        padding: 0 20px 0 20px;
    ">
        <tr>
            <!-- HEADER -->
            <td class="header" style="
                padding: 20px;
            ">
                <table role="presentation" width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="70">
                            <a href="https://{{url_site}}/">
                                <img src="https://eol.uchile.cl/static/eol-uchile-2020/images/email/eol_200.png" height="30" alt="Go to {{platform_name}} Home Page"/>
                            </a>
                        </td>
                        <td align="right" style="text-align: right">
                            <a class="login" href="https://{{url_site}}/login" style="color:#ffffff;text-decoration:none;border-radius:4px;background-color:#7eb0d5;border-top:6px solid #7eb0d5;border-bottom:6px solid #7eb0d5;border-right:20px solid #7eb0d5;border-left:20px solid #7eb0d5;display:inline-block;font-size: 14px;" >
                                <font color="#ffffff">Iniciar Sesión</font>
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="display: block;margin-top: 15px;color:#7eb0d5;">
                Nueva actividad en el foro XXXX del curso {{course_name}}
            </td>
            <!-- MAIN -->
            <td class="main" bgcolor="#ffffff" style="
                display: flex;
                padding: 18px 20px;
                box-shadow: 0 1px 5px rgba(0,0,0,0.25);
            ">
                <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
                    <tbody>
                        <tr>
                            <td>
                                <p>
                                    <b>{{comment_author_username}}</b> realizó un comentario en la publicacion <b>"{{thread_title}}"</b>:
                                </p>
                                <p style="margin-bottom: 5px;">
                                    <b>Comentario principal:</b>
                                </p>
                                <div style="width: 100%;display: flex;background-color: #36648726;border-radius: 17px;">
                                    <div style="width: 10%;text-align: center;align-self: center;display:inline;">
                                        <img src="https://www.pngfind.com/pngs/m/225-2250632_svg-png-icon-android-notification-icon-png-transparent.png" height="40" width="30" />
                                    </div>
                                    <div style="width: 90%;border-left:1px solid rgba(0,0,0,0.25);padding:1px 1px 1px 15px;margin:20px 20px 30px 0px;color:#707070">
                                        {{parent_body}}
                                    </div>
                                </div>
                                <p  style="margin-bottom: 5px;">
                                    <b>Sub-comentario:</b>
                                </p>
                                <div style="width: 95%;display: flex;margin-left: 5%;">
                                    <div style="width: 10%;text-align: center;margin-top: 20px;">
                                        <img src="https://www.pngfind.com/pngs/m/225-2250632_svg-png-icon-android-notification-icon-png-transparent.png" height="40" width="30" />
                                    </div>
                                    <div style="width: 90%;border-left:1px solid #7eb0d5;padding:1px 1px 1px 15px;margin:20px 20px 30px 0px;color:#7eb0d5">
                                        {{comment_body}}
                                    </div>
                                </div>
                                <p>
                                    <a href="https://{{platform_name}}/courses/{{course_id}}/discussion/forum/{{discussion_id}}/threads/{{thread_id}}" style="color:#ffffff;text-decoration:none;border-radius:4px;background-color:#7eb0d5;border-top:12px solid #7eb0d5;border-bottom:12px solid #7eb0d5;border-right:50px solid #7eb0d5;border-left:50px solid #7eb0d5;display:inline-block" target="_blank" >
                                        <font color="#ffffff"><b>Ver discusion</b></font>
                                    </a>
                                </p>
                                <img alt="" role="presentation" aria-hidden="true" style="display:block">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <!-- FOOTER -->
            <td class="footer" style="padding: 20px;">
                <table role="presentation" width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <!-- COPYRIGHT -->
                        <td>
                            &copy; 2023 {{platform_name}}, Todos los derechos reservados.<br/>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</div>
